* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: scroll;
  background: linear-gradient(45deg, #061de3, #e306ca);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}

.our_team {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

h1 {
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
  position: absolute;
  top: 1em;
/*   bottom: ;
  right: ;    -> ezekkel lehet pakolgatni a pagen összevissza.
  left: ; */
}

.card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 500px;
  width: 350px;
  margin: 15px;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.back {
  background-color: #a0d7af;
  transform: rotateY(180deg);
  gap: 1rem;
}


.member_img {
  background: #e9e5fa;
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

h3 {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0;
}

span {
  font-size: 12px;
} 

p {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

aside{

  height: 100vh; /*80 v 70vh if not full page, depends which one is preferred */
/*   padding-top: 10vh; */
  width: 2vh; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

aside button{
  color: transparent;
  opacity: 0.06;
  height: 100%;
  float: left;
}

aside button:hover{
  box-shadow: 5vh rgba(0, 0, 0, 0);
  opacity: 0.30;
}